<div class="ConfigurationPanelFields">

  <div class="ui equal width grid">
    <div class="column">
      <div class="field">
        <div class="ui fluid buttons">
          <div class="ui button"
            @click="reload">
            {{ $t('Reload') }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="ui fluid buttons">
          <div class="ui button"
            :class="{positive: (db.localConfig.showVoter)}"
            @click="toggleVoter">
            <template v-if="db.localConfig.showVoter">
              {{ $t('Hide Voter') }}
            </template>
            <template v-if="!db.localConfig.showVoter">
              {{ $t('Show Voter') }}
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
    

  <div class="field">
    <label for="ConfigurationPanelFieldsCommand">
      {{ $t('Power Shell Command (for Administrator):') }}
    </label>
    <div class="ui labeled input">
      <a class="ui label"
        @click="copyCommand">
        {{ $t('COPY') }}
      </a>
      <input type="text" 
        id="ConfigurationPanelFieldsCommand"
        v-model="db.config.powerShellCommand"
        readonly
        onfocus="this.select()"
        @clcik="copyCommand" />
    </div>
  </div>

  <div class="field">
    <label>
      {{ $t('Video tracks:') }}
    </label>
    <div class="ui fluid buttons">
      <div class="ui button"
        v-for="track in db.config.videoDevices"
        :class="{disabled: (track.deviceId === db.config.videoSelectedTrackDevicesID)}"
        v-show="track.deviceId"
        @click="db.config.videoSelectedTrackDevicesID = track.deviceId">
        {{ track.label }}
      </div>
    </div>
  </div>

  <div class="field"
    v-if="!audioEnabled"
    @click="enableAudio">
    <div class="ui fluid button">
      {{ $t('Enable Audio') }}
    </div>
  </div>

  <div class="field"
    v-if="audioEnabled">
    <label>
      {{ $t('Audio tracks:') }}
    </label>
    <div class="ui fluid buttons">
      <div class="ui button"
        v-for="(track, i) in db.config.audioTracks"
        :class="{positive: (audioDisabledTracks.indexOf(track.label) === -1)}"
        @click="toggleAudioMuted(track)">
        {{ track.label }}
      </div>
    </div>
  </div>


  <div class="ui equal width grid">
    <div class="column field">
      <label for="ConfigurationPanelFieldsLevelupThreshold">
        {{ $t('Level Up Threshold') }}
      </label>
      <div class="ui input">
        <input type="number"
          min="5"
          step="5" 
          id="ConfigurationPanelFieldsLevelupThreshold"
          v-model="db.localConfig.levelupThreshold"
          onfocus="this.select()" />
      </div>
    </div>
    <div class="column field">
      <label for="ConfigurationPanelFieldsLevelupThresholdRangeMin">
        {{ $t('Level Up Threshold Range Min') }}
      </label>
      <div class="ui input">
        <input type="number"
          :max="db.localConfig.levelupThresholdRangeMax - 5"
          step="5" 
          id="ConfigurationPanelFieldsLevelupThresholdRangeMin"
          v-model="db.localConfig.levelupThresholdRangeMin"
          onfocus="this.select()" />
      </div>
    </div>
    <div class="column field">
      <label for="ConfigurationPanelFieldsLevelupThresholdRangeMax">
        {{ $t('Level Up Threshold Range Max') }}
      </label>
      <div class="ui input">
        <input type="number"
          :min="db.localConfig.levelupThresholdRangeMin + 5"
          step="5" 
          id="ConfigurationPanelFieldsLevelupThresholdRangeMax"
          v-model="db.localConfig.levelupThresholdRangeMax"
          onfocus="this.select()" />
      </div>
    </div>
    <div class="column field">
      <label for="ConfigurationPanelFieldsVoteColumnWidth">
        {{ $t('Vote Column Width') }}
      </label>
      <div class="ui input">
        <input type="number"
          min="200"
          step="10" 
          max="400"
          id="ConfigurationPanelFieldsVoteColumnWidth"
          v-model="db.localConfig.voteColumnWidth"
          onfocus="this.select()" />
      </div>
    </div>
  </div>

  <div class="field">
    <label>
      {{ $t('How to cast screen? (Computer / Android / iOS))') }}
    </label>
    <a href="https://onelink.to/eqbgzp" target="cast"
       class="cast-qr-code-container">
      <img src="assets/cast-qr-code.svg"  />
    </a>
  </div>

  <div class="ui fluid buttons">
    <a href="https://pulipulichen.github.io/PWA-Now-Loading/#/" 
      target="now_loading"
      class="ui button">Open NOW LOADING</a>
  </div>

  <div class="field"
    @click="toggleDemo">
    <div class="ui fluid button"
      :class="{positive: (db.config.showDemo)}">
      {{ $t('Show Demo') }}
    </div>
  </div>

</div>