.ConfigurationPanelFields {
  label {
    background-color: rgba(255, 255, 255, 0.5);
    // display: inline-block !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .grouped.fields {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .cast-qr-code-container {
    display: block;
    width: fit-content;
    margin-top: 1rem;
    background-color: #FFF;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

    img {
      height: 60vh;
      // max-width: 60vw;
      // height: auto;
      width: auto;
    }
  }
}