<div class="Index"
  v-show="db.config.inited"
  @dblclick.self="toggleFullScreen">

  <ConfigurationPanel 
    ref="ConfigurationPanel"
    :db="db">
  </ConfigurationPanel>

  <ConfigurationToggleButton 
    ref="ConfigurationToggleButton"
    :db="db">
  </ConfigurationToggleButton>

  <div class="ui grid">
    <div class="video centered column"
    :style="computedVideoColumnStyle">
      <WebcamVideo 
        ref="WebcamVideo"
        :db="db">
      </WebcamVideo>
    </div>
    <div class="vote column"
      :style="computedVoteColumnStyle"
      @dblclick.self="toggleFullScreen">
      <VotePanel 
        ref="VotePanel"
        :db="db">
      </VotePanel>
    </div>
  </div>

</div>